/* Write your CSS here */
.list-style {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.paragraph-style {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 500;
  color: #000000;
}
.button-style {
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #ff0b37;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  color: #ff0b37;
  padding: 10px;
  cursor: pointer;
  outline: none;
}
